.canvas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-top: 80px;
    margin-left: 20%;
    margin-bottom: 80px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.canvas .profile-image {
    max-width: 35%;
    min-width: 50px;
    border-radius: 20px;
}

.canvas form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
}

.canvas form ::placeholder {
    color: rgba(255, 255, 255, .5);
    opacity: 1;
    /* Firefox */
}

.canvas form ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgba(255, 255, 255, .5);
}

.canvas form .errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: red;
}

.canvas form .username,
.description {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}

.canvas form input[type="file"] {
    display: none;
}

.canvas form .custom-file-upload {
    border: 2px solid white;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 20px;
    cursor: pointer;
}

.canvas form .save-btn {
    min-width: 100px;
    height: 32px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition-duration: .3s;
}

.canvas form .save-btn:hover {
    background: white;
    color: black;
}