.canvas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-top: 80px;
    margin-left: 20%;
    margin-bottom: 80px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.canvas .post {
    width: 60%;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.canvas .post .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.canvas .post .user-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.canvas .post .user-info .username {
    font-size: 17px;
    color: white;
}

.canvas .post .user-info .username:hover {
    text-decoration: underline;
}

.canvas .post .post-info {}

.canvas .post .post-info .date {
    margin-left: 10px;
    color: rgb(220, 220, 220);
    font-size: 15px;
}

.canvas .post .post-info .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px 0 10px;
}

.canvas .post .post-info .tags p {
    display: inline-block;
    padding: 3px 6px;
    margin-right: 5px;
    background: purple;
    border-radius: 5px;
}

.canvas .post .post-info .title {
    margin: 10px 0 0 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    word-wrap: break-word;
}

.canvas .post .post-info .text {
    padding: 10px;
    font-size: 16px;
    color: white;
    word-wrap: break-word;
}

.canvas .post .post-info img {
    width: 100%;
}

.canvas .post .actions {
    padding: 10px 10px 14px 10px;
}

.canvas .post .actions .upvote {
    margin-right: 20px;
    color: white;
    padding: 5px;
}

.canvas .post .actions .upvote:hover {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.canvas .post .actions .reply {
    color: white;
    padding: 5px;
}

.canvas .post .actions .reply:hover {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
}



.canvas form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.canvas form ::placeholder {
    color: rgba(255, 255, 255, .5);
    opacity: 1;
    /* Firefox */
}

.canvas form ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgba(255, 255, 255, .5);
}

.canvas form .submit-btn {
    min-width: 100px;
    height: 32px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition-duration: .3s;
}

.canvas form .submit-btn:hover {
    background: white;
    color: black;
}

.canvas form .text {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}


.canvas .replies {
    width: 55%;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.canvas .replies hr{
    border-color: rgba(255, 255, 255, .2);
}

.canvas .reply{
    width: 100%;
}

.canvas .reply .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.canvas .reply .user-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.canvas .reply .user-info .username {
    font-size: 17px;
    color: white;
}

.canvas .reply .user-info .username:hover {
    text-decoration: underline;
}

.canvas .reply .reply-info .date {
    margin-left: 10px;
    color: rgb(220, 220, 220);
    font-size: 15px;
}

.canvas .reply .reply-info .text {
    padding: 10px;
    font-size: 16px;
    color: white;
    word-wrap: break-word;
}

.canvas .reply .actions {
    padding: 10px 10px 14px 10px;
}

.canvas .reply .actions .upvote {
    margin-right: 20px;
    color: white;
    padding: 5px;
}

.canvas .reply .actions .upvote:hover {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.canvas .reply .actions .reply {
    color: white;
    padding: 5px;
}

.canvas .reply .actions .reply:hover {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
}